font-family: 'Archivo', sans-serif;

#banner-message {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  transition: all 0.2s;
  margin: 0 auto;
  width: 300px;
    font-family: 'Archivo', sans-serif;
}

button {
  background: #0084ff;
  border: none;
  border-radius: 5px;
  padding: 8px 14px;
  font-size: 15px;
  color: #fff;
}

nav div{
    background-color:#000;
    text-align: center;
    font-size: 2vw;
    align-content: space-between;
    color: #fff;
    margin:15px;
   
}

nav div a{
    text-decoration: none;
}

#container1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between 10x;
    flex-wrap: wrap;
    margin: 0 20px;
    padding 10px;
    font-family: 'Archivo', sans-serif;
}

*{
    margin:0;
    padding:0;
}

#Home{
    background-color: white;
    font-size: 30px;
}

#Mans{
    background-color: white;
    font-size: 30px;
}

#Woman{
    background-color: white;
    font-size: 30px;
} 

#Children{
    background-color: white;
    font-size: 30px;
} 

#Shoes{
    background-color: white;
    font-size: 30px;
} 

#Custom{
    background-color: white;
    font-size: 30px;
} 

h1 {
    font-size: 40px;
    font-family: sans-serif;
}
body {
    background-image: url()
}

#native{
    position: relative; 
    background-image: url();
    grid-column: 1;
    grid-row: 0;
    margin: 10px;
}

#indian{
    position: relative; 
    background-image: url();
    grid-column: 2;
    grid-row: 0;
    margin: 10px;
}

#china{
    position: relative; 
    background-image: url();
    grid-column: 3;
    grid-row: 0;
    margin: 10px;
}

#ren{
    position: relative; 
    background-image: url();
    grid-column: 4;
    grid-row: 0;
    margin: 10px;
}

#islamic{
    position: relative; 
    background-image: url();
    grid-column: 5;
    grid-row: 1;
    margin: 10px;
}

#medieval{
    position: relative; 
    background-image: url();
    grid-column: 6;
    grid-row: 0;
    margin: 10px;
}

footer {
  grid-column: 1/4;
  grid-row: 10/13;
    font-size: 40px;
    font-family: sans-serif
  background-size:contain;
}

h1 {
    font-family: 'Archivo', sans-serif;
}

h2 {
    font-family: 'Archivo', sans-serif;
    font-size: 15px;
}


